@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
	width: 100%;
  display: flex;
	overflow-x: hidden;
	background-color: #232427;
  color: #c4c3ca;
	font-family: 'Muli', sans-serif;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
}
::selection {
	background-color: #000;
  color: #fff;
}
::-moz-selection {
	background-color: #000;
  color: #fff;
}
a:hover{
  text-decoration: none;
}

.title {
  padding-top: 50px;
  color: white;
}

body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1800px;
  margin: 40px 0;
}

body .container .sm-card {
  position: relative;
  min-width: 320px;
  height: 420px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
  background-color: #232427;
}

body .container .lg-card {
  position: relative;
  min-width: 320px;
  height: 640px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
  background-color: #232427;
}

body .container .card:nth-child(1) .box .content a {
  background: #1abc9c;
}

body .container .card:nth-child(2) .box .content a {
  background: #9b59b6;
}

body .container .card:nth-child(3) .box .content a {
  background: #3498db;
}

body .container .card:nth-child(4) .box .content a {
  background: #e74c3c;
}

body .container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

body .container .card .box:hover {
  transform: translateY(-50px);
}

body .container .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

body .container .card .box .content {
  padding: 20px;
  text-align: center;
}

body .container .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

body .container .card .box .content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

body .container .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

body .container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

body .container .card .box .content canvas {
  margin-top: 20px;
}

body .container .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
  cursor: pointer;
}

/* #Shadow title
================================================== */

.shadow-title{
	position: fixed;
	top: 0;
	margin-top: 30px;
	left: 20px;
	width: 100%;
	height: 300%;
	text-align: left;
	font-family: 'Muli', sans-serif;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	font-size: 18vw;
	line-height: 1;
	color: rgba(200,200,200,.1);
	background: linear-gradient(90deg, rgba(200,200,200,0), rgba(200,200,200,0.35));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 900;
	z-index: 1;
}
.section-parallax{
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  z-index: 2;
}
.section {
  position: relative;
	width: 100%;
	display: inline-table;
}
.full-height {
	height: 100vh;
}
.section.z-bigger {
	z-index: 100;
}
.section.z-bigger-2 {
	z-index: 200;
}
.section-title-wrap{
	position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  z-index: 3;
}
.section-title-wrap p{
	letter-spacing: 2px;
	font-size: 22px;
	font-weight: 700;
	padding: 0;
  color: #6f598f;
  text-align: center;
}
.section-title-wrap h1{
	margin: 0;
	padding: 0;
	font-size: 5vw;
  letter-spacing: 8px;
	font-weight: 900;
  color: #fff;
	line-height: 1;
  text-transform: uppercase;
  text-align: center;
}
.padding-top-bottom {
	padding-top: 100px;
	padding-bottom: 100px;
}
.over-hide{
	overflow: hidden;
}
.background-dark {
	background-color: #101010;
}
.project-link-wrap{
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
}
.project-link-wrap p{
	font-size: 100px;
	line-height: 80px;
	color: #c4c3ca;
	font-weight: 900;
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
	opacity: 0.35;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.project-link-wrap:hover p{
	opacity: 0.15;
}

/* #Back to top arrow
================================================== */

.scroll-to-top{
	position: fixed;
	bottom: 30px;
	right: 30px;
	opacity: 0;
	visibility: hidden;
	width: 10px;
	height: 40px;
	z-index: 251;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 10px 40px;
	cursor: pointer;
	background-image: url('http://www.ivang-design.com/svg-load/parallax/arrow-up.png');
	transform: translateY(-15px);
	-webkit-transition: all 250ms linear;
	transition: all 250ms linear; 
}
.scroll-to-top:hover{
	bottom: 32px;
}
.scroll-to-top.active-arrow{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

/* #Media
================================================== */

@media (max-width: 1200px) { 
  .scroll-to-top{
    right: 13px;
  }
}